- content_for :application do
  %header#header
    #header_actions
      = link_to 'New post', spina.new_admin_post_path, class: 'button button-primary', data: {icon: 't'}

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  %h3 Posts

  .table-container
    %table.table
      %thead
        %tr
          %th Title
          %th Date
          %th &nbsp;

      %tbody
        - if @posts.published.any?
          - @posts.each do |post|
            %tr
              %td
                = post.title
              %td
                = post.published_at.strftime('%a, %d %b %Y, %I:%M %p')
              %td.nowrap.align-right
                = link_to spina.edit_admin_post_path(post), class: 'button button-link' do
                  = icon('pencil-outline')
                -# .pull-right= link_to 'Delete', admin_post_path(post), method: :delete, confirm: 'Are you sure?', class: 'button button-link button-danger'
        - else
          %tr
            %td.align-center{colspan: 3}
              %em There are no posts

  %h3 Drafts

  .table-container
    %table.table
      %thead
        %tr
          %th Title
          %th Last Updated
          %th &nbsp;

      %tbody
        - if @posts.drafts.any?
          - @posts.each do |post|
            %tr
              %td
                = post.title
              %td
                = post.updated_at.strftime('%a, %d %b %Y, %I:%M %p')
              %td.nowrap.align-right
                = link_to spina.edit_admin_post_path(post), class: 'button button-link' do
                  = icon('pencil-outline')
                .pull-right
                  = link_to admin_post_path(post), method: :delete, confirm: 'Are you sure?', class: 'button button-link button-danger' do
                    = icon('cross')
        - else
          %tr
            %td.align-center{colspan: 3}
              %em There are no drafts